* {
    box-sizing: border-box;
}

body {
    background-color: #a30000;
}

.blanco {
    background-color: #ffffff;
    height: 10vh;
}

.negro {
    background-color: #000000;
    height: 10vh;
}

.centrar {
    display: flex;
    justify-content: center;
}